Package: enigma2-plugin-picons-hd-hell-hispasat-30
Version: 1.0
Description: 3d HD Picons hell for Hispasat 30°
Section: picons
Priority: optional
Maintainer: XXX
Architecture: all
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
