Package: enigma2-plugin-picons-pph-transparent-hell-19
Version: 20130715
Description: Transparent HD hell Picons DACH for Astra 19.2
Section: picons
Priority: optional
Maintainer: XXX
Architecture: sh4
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
