Package: enigma2-plugin-picons-barneys-xpicons-192-dach
Version: 1.4
Description: Barneys Xpicons 19.2 Dach
Section: picons
Priority: optional
Maintainer: xxx
Architecture: all
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
