Package: enigma2-plugin-picons-pph-transparent-hell-13
Version: 1.0
Description: Transparent HD hell Picons DACH for Hotbird
Section: picons
Priority: optional
Maintainer: XXX
Architecture: sh4
OE: Transparent HD hell Picons DACH for Hotbird
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
