Package: enigma2-plugin-picons-stefanb-zpicons-19.2
Version: 1.2
Description: Stefanb Zpicons Astra 19.2 Picons
Section: picons
Priority: optional
Maintainer: xxx
Architecture: all
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
