Package: enigma2-plugin-picons-sr-coolpicons-19.2
Version: 1.0
Description: SR Coolpicons Astra 19.2
Section: picons
Priority: optional
Maintainer: xxx
Architecture: all
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
