Package: enigma2-plugin-picons-hd-hell-eutelsat-7e
Version: 1.0
Description: 3d HD Picons hell for Eutelsat 7E
Section: picons
Priority: optional
Maintainer: XXX
Architecture: all
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
